
<h2 mat-dialog-title>Change Password</h2>   
<mat-dialog-content>
    <form [formGroup]="form" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()">
        <div *ngIf="!verified">
        <input matNativeControl #oldPassword type="password" id="oldPassword" class="form-control form-control-lg shadow" placeholder="Enter Old Password" [hidden]="verified"  formControlName="oldPassword" />
        <div class="alert alert-danger mt-4" *ngIf=" form.get('oldPassword')?.invalid">
            <div *ngIf="form.get('oldPassword')?.errors?.['required']">
                Please Enter the Old Password.
            </div>
            </div>
        <button class="btn btn-secondary btn-lg m-4 " [hidden]="verified" (click)="close()">Cancel</button>
        <button class="btn btn-warning btn-lg m-4 " [hidden]="verified" (click)="verify()" [disabled]="form.invalid">Submit</button>
    </div>
    <div *ngIf="verified">
        <input matNativeControl type="password" id="newPassword" class="form-control form-control-lg shadow mt-4" placeholder="Enter New Password"  formControlName="newPassword" (keyup.enter)="keytab($event)"/>
        <div class="alert alert-danger mt-4" *ngIf=" form.get('newPassword')?.invalid">
            <div *ngIf="form.get('newPassword')?.errors?.['required']">
                Please Enter the New Password.
            </div>
            </div>
        <input matNativeControl type="password" id="confirmPassword" class="form-control form-control-lg shadow mt-4" placeholder="Re-enter New Password"  formControlName="confirmPassword" />
        <div class="alert alert-danger mt-4" *ngIf=" form.get('confirmPassword')?.errors?.['required']">
            <div *ngIf="form.get('confirmPassword')?.errors?.['required']">
                Please Re-enter the Password.
            </div>
            </div>
            
                <div *ngIf="form.get('confirmPassword')?.errors?.['PasswordDoesNotMatch'] ">
                    <p class="text-danger">Password does not match.</p>
                </div> 
        
                <button class="btn btn-secondary btn-lg m-4 "  (click)="close()" type="button">Cancel</button>
            <button class="btn btn-primary btn-lg m-4"  (click)="save()" [disabled]="form.invalid">Save</button>
      
    </div>
    </form>
</mat-dialog-content>