
<h2 mat-dialog-title>Password change</h2>   
<mat-dialog-content>
    <form>
        <input matNativeControl #oldPassword type="password" id="oldPassword" class="form-control form-control-lg shadow" placeholder="Enter Old Password" [hidden]="verified" (keyup.enter)="verify(oldPassword)" formControlName="oldPassword"/>
        <input matNativeControl type="password" id="newPassword" class="form-control form-control-lg shadow mt-4" placeholder="Enter New Password" [hidden]="!verified" formControlName="newPassword"/>
        <input matNativeControl type="password" id="confirmPassword" class="form-control form-control-lg shadow mt-4" placeholder="Re-enter New Password" [hidden]="!verified" formControlName="confirmPassword"/>
        <button class="btn btn-primary btn-lg mt-4" [hidden]="!verified">Save</button>
    </form>
</mat-dialog-content>