
<h2 mat-dialog-title>Password change</h2>   
<mat-dialog-content>
    <form [formGroup]="form">
        <input matNativeControl #oldPassword type="password" id="oldPassword" class="form-control form-control-lg shadow" placeholder="Enter Old Password" [hidden]="verified"  formControlName="oldPassword"/>
        <button class="btn btn-secondary btn-lg m-4 " [hidden]="verified" (click)="close()">Cancel</button>
        <button class="btn btn-warning btn-lg m-4 " [hidden]="verified" (click)="verify()">Submit Old Password</button>
        <input matNativeControl type="password" id="newPassword" class="form-control form-control-lg shadow mt-4" placeholder="Enter New Password" [hidden]="!verified" formControlName="newPassword"/>
        <input matNativeControl type="password" id="confirmPassword" class="form-control form-control-lg shadow mt-4" placeholder="Re-enter New Password" [hidden]="!verified" formControlName="confirmPassword"/>
        <button class="btn btn-secondary btn-lg m-4 " [hidden]="!verified" (click)="close()">Cancel</button>
        <button class="btn btn-primary btn-lg m-4" [hidden]="!verified" (click)="save()" type="submit">Save</button>
    </form>
</mat-dialog-content>