
<main class="form-signin w-100 m-auto text-center container">
    <div class="container">
        <div class="row">
          <div class="col-md"></div>
          <div class="col-md">
            <form [formGroup]="myForm">
                <img class="mb-4 login_form" src="assets/weblogo.png" alt="Logo" width="80" height="80">
                <h1 class="h3 mb-3 fw-normal">Login</h1>
            
                <div class="form-floating mb-4">
                  <input type="username" formControlName="username" name="username" class="form-control" id="floatingInput" placeholder="JohnDoe">
                  <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-4">
                  <input type="password" formControlName="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                
                <button class="w-100 btn btn-lg btn-primary mb-4" type="submit" (click)="onSubmit()">Log in</button>
                <a class="w-100 btn btn-lg btn-success" href="/createaccount" routerLink="/createaccount">Register</a>

              </form>
          </div>
          <div class="col-md"></div>
        </div>
      </div>
  </main>