
<br>
<section>
  <div class="container py-5">  
    <h1 class="text-muted mb-4">My Rating</h1>
    <div class="row">
    <div class = "col-lg-4">
      <ng-container *ngFor="let star of stars">
        <app-star [starId]="star" [rating]="hoverState || rating" (starEnter)="onEnterStar($event)" (starLeave)="onLeaveStar()"
          (starClick)="updateRating(star)">
        </app-star>
      </ng-container>
    </div>
    <div class = "col-sm-2">
        <button type="button" (click)="rateMovie()" class="btn btn-outline-primary ms-1">Rate</button>
    </div>
    <div class = "col-sm-2"><h1 class="text-muted mb-4">OR</h1></div>
    <div class = "col-sm-2">
      <button type="button" class="btn btn-outline-primary ms-1"(click)="ngAddReview()">Write Review</button>
    </div>
  </div>
<br>
   
  <div class="row">
    <div *ngFor = "let r of reviews; let i = index">
        <h1 style = "margin: 0;">{{r.title}}</h1> 
        <div>
          <p>By: <a class="name" href="/userprofile/{{usernames[i]}}">{{usernames[i]}}</a></p>
        <ul class="list-unstyled d-flex text-warning mb-0">
          <div *ngFor = "let star of r.starReview">
            <li><i class="fas fa-star fa-sm" *ngIf = "star == true"></i>
            <i class="far fa-star fa-sm"*ngIf = "star == false"></i></li>
          </div>
        </ul>
      </div>
        <p class="text-muted">
        <i class="fas fa-quote-left pe-2"></i>
        {{r.description}}
        </p>
    </div>
  </div>
</div>
</section>