<button (click)="movieInfo()" class="btn btn-info ms-3">Back to movie info</button>

<h1 class="ms-3">Cast</h1>
<div class="d-flex align-content-start flex-wrap gap-3 ms-3">
    <div *ngFor = "let c of cast" class="card" style="max-width: 8rem;">
        <img src={{path+c.profile_path}} class="card-img-top" alt="Cast headshot" onerror="this.src='/assets/error_photo.png'">
        <div class="card-body">
            <h4 class="card-title">{{c.name}}</h4>
            <h5 id="card-text">{{c.character}}</h5>
        </div>
    </div>
</div>
<h1 class="ms-3">Crew</h1>
<div class="d-flex align-content-start flex-wrap gap-3 ms-3">
    <div *ngFor = "let c of crew" class="card" style="max-width: 8rem;">
        <img src={{path+c.profile_path}} class="card-img-top" alt="Crew headshot" onerror="this.src='/assets/error_photo.png'">
        <div class="card-body">
            <h4 class="card-title">{{c.name}}</h4>
            <h5 id="card-text">{{c.job}}</h5>
        </div>
    </div>
</div>