<h1>{{title}}</h1>
<div class="card" style="width: 14rem;">
    <img class="card-img-top" src={{poster}} alt="Movie poster">
</div>
<h3>Runtime: {{runtime}} minutes</h3>
<h3>Description</h3>
<p>{{description}}</p>
<h3>Cast</h3>

<div class="d-flex align-content-start flex-wrap">
    <div *ngFor = "let c of cast" class="card" style="max-width: 8rem;">
        <img src={{path+c.profile_path}} class="card-img-top" alt="Cast photo">
        <div class="card-body">
            <h4 class="card-title">{{c.name}}</h4>
            <h5>{{c.character}}</h5>
        </div>
    </div>
    <button type="button" class="btn btn-info">See more</button>
</div>

<app-display-review></app-display-review>