<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="row bootstrap snippets bootdey">
            <div class="col-md-8 col-xs-12">
              <div class="panel" id="followers">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                  <ul class="list-group list-group-dividered list-group-full">
                    <!-- <li class="list-group-item">
                      <div class="media">
                        <div class="media-left">
                          <a class="avatar avatar-online" href="javascript:void(0)">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                            <i></i>
                          </a>
                        </div>
                        <div class="media-body">
                          <div class="pull-right">
                            <button type="button" class="btn btn-info btn-sm waves-effect waves-light">Follow</button>
                          </div>
                          <div><a class="name" href="javascript:void(0)">Willard Wood</a></div>
                        </div>
                      </div>
                    </li> -->
                    <div *ngFor="let f of data.followers; index as i">
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-center">
                              <a class="avatar avatar-away" href="javascript:void(0)">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="profile pic" onerror="this.src='/assets/error_photo.png'">
                                <i></i>
                              </a>
                            </div>
                            <div class="media-body">
                              <div class="pull-right">
                                <button style="float:right;" type="button" class="btn btn-success btn-default btn-sm waves-effect waves-light"><i class="icon md-check" aria-hidden="true"></i>Following</button>
                              </div>
                              <div><a class="name" href="/userprofile/{{data.followers[i].username}}">{{data.followers[i].username}}</a></div>
                            </div>
                          </div>
                        </li>
                        <hr>
                    </div>
                    
                  </ul>
                </div>
              </div>
            </div>
        </div>
        </div>

</mat-dialog-content>