<section >
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h2 class="my-3">{{username}}</h2>
              <p class="text-muted mb-1">Full Time Movie Watcher</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Follow</button>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">@mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <h2 class="fav_mov_title"></h2>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Favourites</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Watched</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Watch Later</button>
                
              </div>
            </nav>
            <div class="tab-content fav_mov_tab" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <div class="scrolling-wrapper-flexbox gap-3">        
                  <!-- Getting Favourited Movies -->
                  <div *ngFor="let fav of favorites; index as i">
                      <div style="width: 10rem;">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <div class="card h-100">
                            <a href="/movieinfo/{{fav.id}}">
                              <img src={{fav.poster_path}} class="card-img-top" alt="poster"/>
                              <div id="mask" class="mask" style="background-color: rgba(251, 251, 251, 0.25);"></div>
                            </a>
                            <div class="card-body">
                              <a href="/movieinfo/{{fav.id}}">
                                <h3 class="card-title">{{fav.title}}</h3>
                              </a>
                              <!-- <p class="card-text">{{w.overview}}</p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div class="scrolling-wrapper-flexbox gap-3">  
                  <!-- Getting Watched Movies -->
                  <div *ngFor="let w of watched; index as i">
                    <div style="width: 10rem;">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <div class="card h-100">
                          <a href="/movieinfo/{{w.id}}">
                            <img src={{w.poster_path}} class="card-img-top" alt="poster"/>
                            <div id="mask" class="mask" style="background-color: rgba(251, 251, 251, 0.25);"></div>
                          </a>
                          <div class="card-body">
                            <a href="/movieinfo/{{w.id}}">
                              <h3 class="card-title">{{w.title}}</h3>
                            </a>
                            <!-- <p class="card-text">{{w.overview}}</p> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <div class="scrolling-wrapper-flexbox gap-3"> 
                  <!-- Getting watch later movies -->
                  <div *ngFor="let w of watchlist; index as i">
                    <div style="width: 10rem;">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <div class="card h-100">
                          <a href="/movieinfo/{{w.id}}">
                            <img src={{w.poster_path}} class="card-img-top" alt="poster"/>
                            <div id="mask" class="mask" style="background-color: rgba(251, 251, 251, 0.25);"></div>
                          </a>
                          <div class="card-body">
                            <a href="/movieinfo/{{w.id}}">
                              <h3 class="card-title">{{w.title}}</h3>
                            </a>
                            <!-- <p class="card-text">{{w.overview}}</p> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div> -->
            </div>
          </div>
          
          <!-- Carousel wrapper -->
            <div id="carouselExampleControls" class="carousel slide text-center carousel-dark card" data-mdb-ride="carousel">
                <h2 class="feat_title">Featured Reviews</h2>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="rounded-circle shadow-1-strong mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" style="width: 150px;" />
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <h5 class="mb-3">Maria Kate</h5>
                                <p>Photographer</p>
                                <p class="text-muted">
                                <i class="fas fa-quote-left pe-2"></i>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
                                nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
                                fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
                                doloremque.
                                </p>
                            </div>
                        </div>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                            <li><i class="fas fa-star fa-sm"></i></li>
                            <li><i class="fas fa-star fa-sm"></i></li>
                            <li><i class="fas fa-star fa-sm"></i></li>
                            <li><i class="fas fa-star fa-sm"></i></li>
                            <li><i class="far fa-star fa-sm"></i></li>
                        </ul>
                    </div>

                    <div class="carousel-item active">
                        <img class="rounded-circle shadow-1-strong mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" style="width: 150px;" />
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <h5 class="mb-3">Maria Kate</h5>
                                <p>Photographer</p>
                                <p class="text-muted">
                                <i class="fas fa-quote-left pe-2"></i>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
                                nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
                                fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
                                doloremque.
                                </p>
                            </div>
                        </div>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                            <li><i class="fas fa-star fa-sm"></i></li>
                            <li><i class="fas fa-star fa-sm"></i></li>
                            <li><i class="fas fa-star fa-sm"></i></li>
                            <li><i class="fas fa-star fa-sm"></i></li>
                            <li><i class="far fa-star fa-sm"></i></li>
                        </ul>
                    </div>
                

                </div>
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Carousel wrapper -->
            
        </div>
    </div>
</div>

</section>


<div class="container card col-lg-10">
    <div class="row">
        <div class="col-sm-2 border-end border-secondary">
          <div class="pb-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"class="rounded-circle img-fluid" width="50px">
          </div>
          <div class="row">
            <div class="col-md-10">
                <a href="#"><h3><strong>John Smith</strong></h3></a>
                <p style="margin-top:-20px;">3 days go</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex align-items-center justify-content-center">
            <p>Someone pls recommend me the worst movie that is out there.</p>
        </div>
  </div>
</div>