<section >
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img [src]="pic" alt="avatar" onerror="this.src='/assets/error_photo.png'"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h2 class="my-3">{{username}}</h2>
              <div class="row mt-5">
                <div (click)="seeFollowing()" class="col border-right text-center pointer">
                    <h2 class="font-light">{{numFollowing}}</h2>
                    <h4 class="text-uppercase">Following</h4>
                </div>
                <div (click)="seeFollowers()" class="col border-right text-center pointer">
                    <h2 class="font-light">{{numFollowers}}</h2>
                    <h4 class="text-uppercase">Followers</h4>
                </div>
            </div>
              <div *ngIf="currentUserViewing; then removeFollowBtn; else showFollowBtn"></div>
              <ng-template #showFollowBtn>
                <div *ngIf="isFollowing; then showUnfollowBtn; else showFollow"></div>
                <ng-template #showUnfollowBtn>
                  <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn" (click)="unfollowUser()">Unfollow</button>
                  </div>
                </ng-template>
                <ng-template #showFollow>
                  <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary" (click)="followUser()">Follow</button>
                  </div>
                </ng-template>
              </ng-template>
              <ng-template #removeFollowBtn></ng-template>
            </div>
          </div>
          
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <h2 class="fav_mov_title"></h2>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Favourites</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Watched</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Watch Later</button>
                
              </div>
            </nav>
            <div class="tab-content fav_mov_tab" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <div class="scrolling-wrapper-flexbox gap-3">        
                  <!-- Getting Favourited Movies -->
                  <div *ngFor="let fav of favorites; index as i">
                      <div style="width: 10rem;">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <div class="card h-100">
                            <a href="/movieinfo/{{fav.id}}">
                              <img src={{fav.poster_path}} class="card-img-top" alt="poster"/>
                              <div id="mask" class="mask" style="background-color: rgba(251, 251, 251, 0.25);"></div>
                            </a>
                            <div class="card-body">
                              <a href="/movieinfo/{{fav.id}}">
                                <h3 class="card-title">{{fav.title}}</h3>
                              </a>
                              <!-- <p class="card-text">{{w.overview}}</p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div class="scrolling-wrapper-flexbox gap-3">  
                  <!-- Getting Watched Movies -->
                  <div *ngFor="let w of watched; index as i">
                    <div style="width: 10rem;">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <div class="card h-100">
                          <a href="/movieinfo/{{w.id}}">
                            <img src={{w.poster_path}} class="card-img-top" alt="poster"/>
                            <div id="mask" class="mask" style="background-color: rgba(251, 251, 251, 0.25);"></div>
                          </a>
                          <div class="card-body">
                            <a href="/movieinfo/{{w.id}}">
                              <h3 class="card-title">{{w.title}}</h3>
                            </a>
                            <!-- <p class="card-text">{{w.overview}}</p> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <div class="scrolling-wrapper-flexbox gap-3"> 
                  <!-- Getting watch later movies -->
                  <div *ngFor="let w of watchlist; index as i">
                    <div style="width: 10rem;">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <div class="card h-100">
                          <a href="/movieinfo/{{w.id}}">
                            <img src={{w.poster_path}} class="card-img-top" alt="poster"/>
                            <div id="mask" class="mask" style="background-color: rgba(251, 251, 251, 0.25);"></div>
                          </a>
                          <div class="card-body">
                            <a href="/movieinfo/{{w.id}}">
                              <h3 class="card-title">{{w.title}}</h3>
                            </a>
                            <!-- <p class="card-text">{{w.overview}}</p> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div> -->
            </div>
          </div>
          
          <!-- Carousel wrapper -->
          <section style="padding:0;" class="">
            <div class="container my-5">
              <div class="row d-flex justify-content-center">
                <div class="col-md-12">
  
                  <div class="card">
                    <div class="card-body px-4 py-5">
                      <!-- Carousel wrapper -->
                      <div id="carouselDarkVariant" class="carousel slide carousel-dark" data-mdb-ride="carousel">
                        <!-- Indicators -->
                        <div class="carousel-indicators mb-0">
                          <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                          <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1"
                            aria-label="Slide 1"></button>
                          <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2"
                            aria-label="Slide 1"></button>
                        </div>
          
                        <!-- Inner -->
                        <div class="carousel-inner pb-5">
                          <!-- Single item -->
                          <div class="carousel-item active">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-10 col-xl-8">
                                <div class="row">
                                  <div class="col-lg-4 d-flex justify-content-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                                      class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                      height="150" />
                                  </div>
                                  <div
                                    class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                    <h4 class="mb-4">Maria Smantha - Web Developer</h4>
                                    <p class="mb-0 pb-3">
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                                      aliquam amet animi blanditiis consequatur debitis dicta
                                      distinctio, enim error eum iste libero modi nam natus
                                      perferendis possimus quasi sint sit tempora voluptatem. Est,
                                      exercitationem id ipsa ipsum laboriosam perferendis.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
          
                          <!-- Single item -->
                          <div class="carousel-item">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-10 col-xl-8">
                                <div class="row">
                                  <div class="col-lg-4 d-flex justify-content-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                                      class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                      height="150" />
                                  </div>
                                  <div
                                    class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                    <h4 class="mb-4">Lisa Cudrow - Graphic Designer</h4>
                                    <p class="mb-0 pb-3">
                                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                      accusantium doloremque laudantium, totam rem aperiam, eaque
                                      ipsa quae ab illo inventore veritatis et quasi architecto
                                      beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                      quia voluptas sit aspernatur.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
          
                          <!-- Single item -->
                          <div class="carousel-item">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-10 col-xl-8">
                                <div class="row">
                                  <div class="col-lg-4 d-flex justify-content-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                                      class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                      height="150" />
                                  </div>
                                  <div
                                    class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                    <h4 class="mb-4">John Smith - Marketing Specialist</h4>
                                    <p class="mb-0 pb-3">
                                      At vero eos et accusamus et iusto odio dignissimos qui
                                      blanditiis praesentium voluptatum deleniti atque corrupti quos
                                      dolores et quas molestias excepturi sint occaecati cupiditate
                                      non provident, similique sunt in culpa qui officia mollitia
                                      animi id laborum et dolorum fuga.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner -->
          
                        <!-- Controls -->
                        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                          data-mdb-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                          data-mdb-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <!-- Carousel wrapper -->
                    </div>
                  </div>
          
                  
                </div>
              </div>
            </div>
          </section>
            <!-- Carousel wrapper -->
            
        </div>
    </div>
</div>

</section>


<div class="container card col-lg-10">
    <div class="row">
        <div class="col-sm-2 border-end border-secondary">
          <div class="pb-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"class="rounded-circle img-fluid" width="50px">
          </div>
          <div class="row">
            <div class="col-md-10">
                <a href="#"><h3><strong>John Smith</strong></h3></a>
                <p style="margin-top:-20px;">3 days go</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex align-items-center justify-content-center">
            <p>Someone pls recommend me the worst movie that is out there.</p>
        </div>
  </div>
</div>