.fav_mov_title{
    text-align: center;
    padding: 10px;
}

.feat_title{
    text-align: center;
    padding: 10px;
}

#favorites {
    background-color: rgb(19, 19, 22);
}

#favoritesTitle {
    color: white;
}