<mat-dialog-content>
    <button mat-icon-button style="float:right; margin: 5px;" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
    <header style="margin: 5px;">
        <h1 class="text-muted mb-4">Add Review</h1>
    </header>
    <label class="text-muted mb-4">Rating
        <br>
        <ng-container *ngFor="let star of stars">
            <app-star [starId]="star" [rating]="hoverState || rating" (starEnter)="onEnterStar($event)" (starLeave)="onLeaveStar()"
                (starClick)="updateRating(star)">
            </app-star>
            </ng-container>
    </label>
    <br>
    <form [formGroup]="myForm" id = "myForm"  novalidate>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required>
          </mat-form-field>
          <br>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>
    
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!myForm.valid">Post</button>
    </mat-dialog-actions>
</form>
</mat-dialog-content>
