
  <div>
    <button mat-icon-button cdkFocusInitial style="float:right" 
    (click)="enableDisableRule()" 
    [ngClass]="{'black' : toggle, 'red': !toggle}">
      <mat-icon style>favorite</mat-icon>
      <p style = "font-size: 10px; color: rgb(81, 81, 81);">{{status}}</p>
    </button>
        <h1 style = "margin: 0;">WORST MOVIE EVER!!!</h1> 
        <div>
        By: <a href="" class="mb-3">Maria Kate</a> 
        <ul class="list-unstyled d-flex text-warning mb-0">
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="far fa-star fa-sm"></i></li>
        </ul>
    
      </div>
        <p class="text-muted">
        <i class="fas fa-quote-left pe-2"></i>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
        nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
        fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
        doloremque.
        </p>
    </div>
 
