<form [formGroup]="form">
<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              
              <div class="col">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">User Settings</h3>
                  <div class="form-outline mb-4">
                    <div class="text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="ProfilePicture"><br>
                        <button class="btn btn-primary rounded mt-4">Change Profile Picture</button>
                      </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" >  First name <a (click)="fnameEdit()"class="bi" [class.bi-pencil-square]="readonlyFirstName"></a></label>
                        <input type="text" formControlName="userFirstName"  [(ngModel)]="userFirstName"  class="form-control form-control-lg shadow" [readonly]="readonlyFirstName" />
                      </div>
                    </div>
                    
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label"> Last name <a (click)="lnameEdit()"class="bi" [class.bi-pencil-square]="readOnlyLastName"></a></label>
                        <input formControlName="userLastName" [(ngModel)]="userLastName" type="text"  class="form-control form-control-lg shadow" [readonly]="readOnlyLastName"/>
                      </div>
                    </div>
                    
                  </div>
                  <div class="text-danger m-2" *ngIf="form.get('userFirstName')?.errors?.['required']">
                    First Name is required.
                 </div>
                  <div class="text-danger m-2"  *ngIf="form.get('userLastName')?.errors?.['required']">
                    Last Name is required.
                 </div>
  
  
                  <div class="form-outline mb-4">
                    <label class="form-label"> Username <a (click)="usernameEdit()"class="bi" [class.bi-pencil-square]="readOnlyUsername"></a></label>
                    <input type="text" formControlName="username" [(ngModel)]="username" class="form-control form-control-lg shadow" [readonly]="readOnlyUsername" (keyup)="verifyUsername()" />
                  </div>
                  <div class="text-danger m-2"  *ngIf="form.get('username')?.errors?.['required']">
                    Username is required.
                 </div>
                 <div class="text-danger m-2"  *ngIf="form.get('username')?.errors?.['usernameUsed']">
                  Username is Used.
               </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label"> Email <a (click)="emailEdit()"class="bi" [class.bi-pencil-square]="readOnlyEmail"></a> </label>
                      <input type="email" id="email" formControlName="userEmail" [(ngModel)]="userEmail"  class="form-control form-control-lg shadow" [readonly]="readOnlyEmail" (keyup)="verifyEmail()"/>
                  </div>
                  <div class="text-danger m-2"  *ngIf="form.get('userEmail')?.errors?.['required']">
                    Email is required.
                 </div>
                 <div class="text-danger m-2"  *ngIf="form.get('userEmail')?.errors?.['EmailUsed']">
                  Email is Used.
               </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Password <a (click)="changePswd()"class="bi" [class.bi-pencil-square]="readOnlyPswd"></a>  </label>
                      <input (click)="changePswd()" formControlName="password" type="password" id="password" [(ngModel)]="password"  class="form-control form-control-lg shadow" [readonly]="readOnlyPswd"/>
                  </div>
  
                  <div class="d-grid gap-2">
                    <button routerLink="" type="button" class="btn btn-secondary btn-lg ms-2">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-lg ms-2" [disabled]="checkValue || form.invalid" (click)="submit()">Save Changes</button>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </form>